p {
  background-color: #C2F670;
  width: 200px;
  height: 200px;
}

#p2 {
  border: 4px solid gray;
}

#p3 {
  box-shadow: 4px 4px 5px gray;
}

#p4 {
  padding: 2em;
}

#p5 {
  padding: 2em;
  border: 4px solid red;
}

#p6 {
  border: 4px solid red;
  margin: 2em;
}

#p7 {
  padding: 1em 1em 1em 6em;
  border: 4px dashed black;
  margin: 1em 6em;
}

#p8 {
  padding: 1em 50px;
  border: 2px solid blue;
  margin: auto;
}
